{% extends 'base.html' %}
{% block body %}
<div class="container">
  <form>
    <input class="m-5 p-3 rounded-full border-4 border-blue-700 bg-blue-500 font-sans-roboto text-white placeholder-white" type="text" id="prodname" name="prodname" placeholder="Product Name"><br>
    <input class="m-5 p-3 rounded-full border-4 border-blue-700 bg-blue-500 font-sans-roboto text-white placeholder-white" type="text" id="brand" name="brand" placeholder="Brand"><br>
    <input class="m-5 p-3 rounded-full border-4 border-blue-700 bg-blue-500 font-sans-roboto text-white placeholder-white" type="number" id="quantity" name="quantity" min="0" placeholder="Quantity"><br>
  </form>
</div>
<div class="font-roboto">Test Font</div>

{% endblock body %}